@use '../../styles/vars';

.header-header{
  height: 50px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: vars.$second-bg-color;
  padding: 10px;
  position: fixed;
  top:0px;
  

  &_logo{
    width: 70px;
    height: auto;
  }

  &_backOffice-txt{

  }
  // ====== Span to create burger menu's icon ====== //
  &-burger{
    content:'';
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: vars.$color-decoration;
    position: relative;
  }

  &-burger::before{
    content:'';
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: vars.$color-decoration;
    position: absolute;
    bottom: 10px;
  }

  &-burger::after{
    content:'';
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: vars.$color-decoration;
    position: absolute;
    top: 10px;
  }
  // ====== end ====== //

  &_content-menu{
    width: 80%;
    height: 80vh;
    background-color: vars.$second-bg-color;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    position: absolute;
    top: 50px;
    right: -400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: right 0.5s ease-out;

    .menu-txt{
      font-size: 1.5rem;
    }
    .header_menu{

    }

    .header-menu_spots{
      margin-bottom: 10px;

    }
    .header-menu_users{

    }

    .header-content-menu_dark-mode{
      width: 50px;
      height: 20px;
      border-radius: 500px;
      background-color: vars.$main-bg-btn-color;
      margin-top: 15px;
      padding: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      
      .header-burger_btn{
        content: '';
        width: 25px;
        height: 25px;
        border-radius: 50%;
        box-shadow: 0 0 4px vars.$border-btn-color;
        background-color: vars.$main-bg-color;
        position: relative;
        left: 0px;
        transition: left 0.2s linear;
      }
      .dark-actif{
        position: relative;
        left: 25px;
      }
    }
    
    
    .header-content-menu_log{
      display: flex;
      flex-direction: row;
      align-items:center ;
      
      .menu-log_img{
        width: 20px;
        height: 20px;
      }
      
      .menu-log_txt{
        font-size: 1.4rem;
      }
    }
  }
  
  .menu-actif{
    top: 50px;
    right: 0px;
  }
}

@media screen and (min-width: 768px){

  .header{
    height: 100px;

    &_backOffice-txt{
      font-size: 2rem;
    }

    &_logo{
      width: 140px;
      height: 50px;
    }

    .header-burger{
      display: none;
    }
  
    .header_content-menu{
      width: initial;
      height: inherit;
      position: initial;
      padding: 0px;
      flex-direction: row;
      
    }
  
    .header-menu-darkMode{
      display: flex;
      margin: 0 10px;
      align-items: center;
    }
  
    .header_menu{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    li.header-menu_spots.menu-txt{
      margin-bottom: 0px;
    }
  
    .header_content-menu{
  
      li.menu-txt{
        font-size:1.5rem;
        margin-left: 10px;
      }
  
      .header-content-menu_dark-mode{
        width:40px;
        height:15px;
        margin: 0px;
        margin-left: 10px;
        
  
        .header-burger_btn{
          width: 20px;
          height: 20px;
        }
      }
    
      .header-content-menu_log{
        .menu-log_txt{
          font-size: 1.5rem;
        }
      
    
      }
    }
  }
  
}
