$main-bg-color: #fff;
$second-bg-color: #fca311ff;

$title-color: #14213dff;
$txt-color: #000;

$main-bg-btn-color: #f2f4f3ff;
$border-btn-color:#14213dff;

$color-decoration: #5e503fff;

$bg-color-btn-update: #14213dff;
$bg-color-btn-delete: rgb(161, 33, 1);

.dark{
  $main-bg-color:   #000 ;
  $second-bg-color: #14213dff;

  $title-color: #fca311ff;
  $txt-color: #fff;

  $main-bg-btn-color: #f2f4f3ff;
  $border-btn-color:#5e503fff;

  $color-decoration: #f2f4f3ff;
}